* {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

.indent {
	padding-left: 1em;
}

.mem_index {
    color: var(--vscode-editorLineNumber-foreground);
}

.simple_value {
	display: table-row;
}

.simple_value div {
	display: table-cell;
}

.simple_value_title {
	font-weight: bold;
}


.mem_dump {
	display: table-row;
}

.mem_dump_cell {
	display: table-cell;
	padding-left: 0.25em;
}

.error {
	color: red;
	font-weight: bold;
}


